


@model List<Model.Entity.Producto>
@{
    ViewBag.Title = "Lista de Producto";
}


<h2 class="text-center text-success">Listado de Productos</h2>
<div class="well well-sm"><a class="btn btn-primary" href="~/Producto/Create">Nuevo</a></div>
<table class="table table-hover table-striped">
    <thead>
        <tr class="bg-primary">
            <th>Código</th>
            <th>Descripción</th>
            <th>Precio Unitario</th>
            <th>Categoria</th>
            <th colspan="3">Operaciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var objProducto in Model)
        {
            <tr>
                <td>@objProducto.IdProducto</td>
                <td>@objProducto.Nombre</td>
                <td>@objProducto.PrecioUnitario</td>
                <td>@objProducto.Categoria</td>
                <td><a class="btn btn-success" href="~/Producto/Find/@objProducto.IdProducto"><span class="glyphicon glyphicon-eye-open"></span>Ver Productos</a></td>
                <td><a class="btn btn-info" href="~/Producto/Update/@objProducto.IdProducto"><span class="fa fa-edit"></span></a></td>
                <td><a class="btn btn-danger" href="~/Producto/Delete/@objProducto.IdProducto"><span class="fa fa-remove"></span></a></td>
                
            </tr>
        }
    </tbody>

</table>



