@model List<Model.Entity.Categoria>
@{
    ViewBag.Title = "Lista de Categoria";
}

<h2 class="text-center text-success">Listado de Categorias</h2>
<div class="well well-sm"><a class="btn btn-primary" href="~/Categoria/Create">Nuevo</a></div>
<table class="table table-hover table-striped">
    <thead>
        <tr class="bg-primary">
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripcion</th>            
            <th colspan="3">Operaciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var objCategoria in Model)
        {
            <tr>
                <td>@objCategoria.IdCategoria</td>
                <td>@objCategoria.Nombre</td>
                <td>@objCategoria.Descripcion</td>
                <td><a class="btn btn-success" href="~/Categoria/Find/@objCategoria.IdCategoria"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                <td><a class="btn btn-info" href="~/Categoria/Update/@objCategoria.IdCategoria"><span class="fa fa-edit"></span></a></td>
                <td><a class="btn btn-danger" href="~/Categoria/Delete/@objCategoria.IdCategoria"><span class="fa fa-book"></span></a></td>
            </tr>
        }
    </tbody>

</table>
<div class="text-primary text-danger text-center">
    @ViewBag.MensajeError;
</div>
